results.csv
alteredbitmap.bmp
results.csv
results.csv
results-bitmap.bmp
NavigationTests.nlogo
results-bitmap.bmp
results-group14to1avoider.csv
results-group14to1bold.csv
results-group15to14avoider.csv
results-group15to14bold.csv
results-group15to18avoider.csv
results-group15to18bold.csv
results-group18to14avoider.csv
results-group18to14bold.csv
results-groupstats.csv
results-bitmap.bmp
~$results-charts.xlsm
results-bitmap.bmp
results-buildings.csv
results-bitmap.bmp
results-group3to18avoider.csv
results-group3to18bold.csv
results-bitmap.bmp
results-group3to15avoider.csv
results-group3to15bold.csv
results-bitmap.bmp
results-bitmap.bmp
buildings - Copy.csv
WorkplaceTraffic - Copy.bmp
results-bitmap-paths.bmp
results-bitmap-twistypaths.bmp
results-bitmap.bmp
csv/csv.jar
csv/commons-csv-1.0.jar
bitmap/bitmap.jar
